# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Windows files
Thumbs.db
ehthumbs.db

# Test coverage
htmlcov/
.coverage
.coverage.*

# PyInstaller
dist/
build/
*.spec

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Logs
*.log

# Ignore system-wide files
*.swp
